body {
    font-family: "Exo", sans-serif;
    background-image: url("./images/text3.png");
    background-size: 1000px;

}

header {
    overflow: hidden;
    background-color: #ffffff;
    padding: 5px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    display: flex;
    flex-direction: row;
}
header .cart-link {
  margin: auto;
    padding: 5px;
  background-color:rgb(69, 141, 137);
  color: #ffffff;

}

header h1{
    width: 500px;
    margin: auto  auto auto 100px;
   
}
.home hr {
    color: rgba(17, 206, 193, 0.548);
    min-width: 300px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 5px 10px;
    

}
h1 {
    width: 100%;
    text-align: center;
    font-family: "Exo", sans-serif;
}

button, .cart-link {
    font-family: "Source Code Pro", monospace;
    border:1px solid ivory;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.616);
    cursor: pointer;
    border-radius: 3px;

}

button:hover{
    background-color: rgba(153, 153, 153, 0.616);
}

a {
    color: inherit;
    text-decoration: none;
}

.home, .cart{
    display: flex;
    min-height: 20vh;
    flex-direction: column;
    margin: 150px auto 200px;
    padding: 2%;
    background-color: #ffffff;
    box-shadow: 10px 5px 15px rgba(49, 70, 70, 0.527);
}


.home{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.home button, .purchase{
    outline: none;
    background-color: rgb(150, 196, 193);
    font-size: 20px;
    margin: 0 auto;
    color: #ffffff;
}

.home button:hover{
    background-color:rgb(69, 141, 137);
    color: #ffffff;
} 


.market {
    margin-top: 100px;
}

.market {
    width: 70%;
    margin: 10% 15%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: rgb(255, 255, 255);

}

.product-card {
    margin: 20px auto;
    padding: 20px;
    width: 200px;
    height: 350px;

}
.product-card p {
    font-size: 17px;
    text-align: center;
}
input {
    width: 20px;
    text-align: center;
    outline: none;
    border: 1px solid ghostwhite;
}

.product-card img {
    width: 200px;
    height: 275px;
    box-shadow: 20px 25px 35px rgb(126, 134, 151);
    object-fit: cover;
    position: absolute;
}

.incdec {
    width: 17px;
    height: 17px;
    border-radius: 10px;
    text-align: center;
    background-color: gainsboro;
    border: 1px solid snow;
    margin: 3px;
    padding: 0 .5px 5px 0;
}

.learn {
    float: left;
    position: absolute;
    width: 200px;
    height: 275px;
    z-index: 1000;
    cursor: pointer;
    color: rgba(240, 255, 240, 0);
    transition: background-color 1s;
}

.learn h2 {
    text-align: center;
    margin-top: 200px;
    

}


.learn:hover {
    color: rgb(63, 68, 63);
    background-color: rgba(245, 245, 245, 0.795);
}

.learn p {
    top: 20px;
}

.img-container {
    width: 200px;
    height: 275px;
    position: relative;
}
.product-info-container {
    background-color: #ffffff;
    position: absolute;
    z-index: 1002;
    text-align: center;
    box-shadow: 20px 25px 35px rgb(126, 134, 151);
    border-radius: 5px;
    margin-top:10px;
    width: 200px;
}

.product-info-container p{
    font-size: 16px;
    margin: 0 3px;
   
}
.exit-info {
    position:absolute;
    top:-10px;
    left: 170px;
    z-index: 1004;
    display: block;
    font-size: 10px;
    color: rgb(14, 47, 51);
}


.show {
    max-height: 500px;
    transition: height, 1s;
    overflow: auto;
}

.hide {
    max-height: 0;
    overflow: hidden;
    transition: max-height, 1s;
}

.cart {
    margin: 10%;
    min-height: 50vh;
}

.cart-list {
    display: flex;
    flex-direction: row;

    
}
.cart ul {
    padding: 0;
}
.cart ul li {
    list-style-type: none;
    margin-top: 15px;

}

.cart-list img {
    width:75px;

}

.cart-book-info{
    flex-direction: column;
    padding: 10px;
}
