body{
    font-family: 'Source Code Pro', monospace;
}

header{
    overflow: hidden;
    background-color: #ffffff;
    padding: 5px 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 5px 10px;
}
h1 {
    width:100%;
    font-family: 'Exo', sans-serif;
}

.market, .home{

    margin-top: 100px;
}

.market{
    width: 70%;
    margin: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-end;

}

.product-card{
    margin: 40px auto;
    padding: 20px;
    width: 200px;
    height: 250px;
    border: 1px solid seagreen;
}

.product-card input {
    width: 20px;
    text-align: center;
    outline: none;
    border: 1px solid ghostwhite;
}

.incdec{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    text-align: center;
    background-color: gainsboro;
    border: 1px solid snow;
    margin: 3px;
    padding: 0 ;
}